@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background-color: #f0f0f0;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Styling for the collapsible details */
.details {
  cursor: pointer;
}

.details-summary {
  list-style: none;
}

.details-content {
  margin-left: 20px;
}

.details-content-item {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}